.ticket {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color-secondary);
    border-radius: 1.1rem;
    z-index: 1;
    transition: all 0.3s ease 0s;
  }

  &:hover {
    &::before {
      z-index: -1;
      background: #f9f9f9;
    }
  }
}

.ticket-separator {
  --half-circle-size: 2rem;

  &__line {
    border-bottom: 2px dashed var(--color-gray-300);

    &:before,
    &:after {
      content: '';
      position: absolute;
      background: #fff;
      width: var(--half-circle-size);
      height: var(--half-circle-size);
      border-radius: 100%;
      border: 1px solid var(--border-color-secondary);
      margin-top: calc(var(--half-circle-size) / -2);
      z-index: var(--z-10);
    }

    &:before {
      right: 0;
      margin-right: calc(var(--half-circle-size) / -2);
    }

    &:after {
      left: 0;
      margin-left: calc(var(--half-circle-size) / -2);
    }
  }
}
